@import "src/styles";

.landing-page-container {
  background-color: $leogreen-background;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.landing-page-nav {
  display: flex;
  justify-content: space-between;

  > p {
    margin: 0;
    font-size: 1.8rem;
    line-height: 2rem;
  }

  > img {
    height: 10vh;
  }
}

.leogreen-main-header {
  align-self: center;

  > div {
    display: flex;
    align-items: baseline;

    > * {
      font-size: 10vh;
      height: 6.5vh;
      margin-right: 2vw;
    }
  }

  h2 {
    font-size: 3vh;
  }
}

.landing-page-footer {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  > h5 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0;
  }

  > .landing-page-subpages {
    display: flex;
    align-items: center;
    justify-content: center;

    > * {
      margin: 0;
      font-size: 2rem;
    }

    > h6 {
      font-weight: 700;
      margin: 0 2rem 0 .5rem;
    }
  }
}

@media only screen and (max-width: 500px) {
  .landing-page-footer {
    flex-direction: column;
  }

  .landing-page-nav > p {
    font-size: calc(.5vw + .7rem);
  }

  .leogreen-main-header > div > * {
    font-size: 5vh;
    height: 3.75vh;
  }

  .landing-page-footer {
    h5 {
      font-size: 2vh;
      margin-bottom: 1vh;
    }

    > .landing-page-subpages > * {
      font-size: 2.5vh;
      height: 2.5vh;
    }
  }
}
