<div class="landing-page-container" id="landing-page">
  <div class="landing-page-nav">
    <p>
      Interaktiv Umwelt erlenernen, <br>
      spielerisch Natur <br>
      kennenlernen
    </p>
    <img src="assets/leogreen_logo.svg">
  </div>
  <div class="leogreen-main-header">
    <div>
      <h1>LeoGreen</h1>
      <img src="assets/leogreen-logo-without-outline.svg">
    </div>
    <h2>Quizzes</h2>

  </div>
  <div class="landing-page-footer">
    <h5 class="noselect pointer" routerLink="/quiz">LeoGreen Quizzes</h5>
    <div class="landing-page-statistics noselect pointer" routerLink="/statistic">
      <img src="assets/fancy-text-decoration.svg">
      <h6>Statistics</h6>
      <img src="assets/fancy-text-decoration.svg">
    </div>
  </div>
</div>
