h1 {
  font-size: 3rem;
  line-height: 3.3rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  line-height: 2.2rem;
}

.loading-container {
  text-align: center;
}

.loading-sub-container {
  margin: 80px 0;
  width: inherit;
  display: flex;
  justify-content: center;
}
