// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

$font-level: mat.define-typography-config(
  // Specify "Poppins" as the default font family for all levels.
  $font-family: 'Poppins'
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core($font-level);

// Define the palettes for your thseme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$leogreen-primary: mat.define-palette(mat.$indigo-palette);
$leogreen-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);


// The warn palette is optional (defaults to red).
$leogreen-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$leogreen-theme: mat.define-dark-theme((
  color: (
    primary: $leogreen-primary,
    accent: $leogreen-accent,
    warn: $leogreen-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($leogreen-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

$leogreen-background: #323478;
$leogreen-background-accent: #ffffff;
$leogreen-background-alternate: #8EA4D2;
$leogreen-color: #f8eae0;
$leogreen-color-accent: #323478;
$leogreen-button: #666AD0;
$leogreen-button-accent: #2A65E1;
$mobileWidth: 768px;

body {
  margin: 0;
  font-weight: 500;
  background-color: $leogreen-background;
  color: $leogreen-color;
}

$navbar-height: 10vh;
$container-margin-size: calc(4vw + 4rem);

//custom class
.main-container {
  background-color: $leogreen-background;
  color: $leogreen-color;
  height: 100vh - $navbar-height;
  position: relative;
  overflow: hidden;
  padding-left: $container-margin-size;
  padding-right: $container-margin-size;
}

.drop-shadow {
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

.display-none {
  display: none;
}

.hideIfSmall {
  display: none;
}

.showIfBig {
  display: inherit;
}

@media only screen and (min-width: $mobileWidth) {
  .main-container {
    padding-left: calc($container-margin-size * 2);
    padding-right: calc($container-margin-size * 2);
  }

  .hideIfSmall {
    display: inherit;
  }

  .showIfBig {
    display: none;
  }
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.center-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-disabled {
  filter: grayscale(.7);
}

.pointer {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: .5rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #00000000;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #88888880;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #55555550;
  }
}

// Override AngularMaterial
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: $leogreen-color;
}
