<div class="main-container home-container" id="home">
  <div class="topic-selection-container">
    <h1>Themen - Filter: </h1>
    <section>
      <span>
        <mat-checkbox
          [checked]=""
          [color]=""
        >
          All
        </mat-checkbox>
      </span>
      <span>
        <ul>
          <li *ngFor="let topic of this.getTopics()">
            <mat-checkbox
            >
              {{topic}}
            </mat-checkbox>
          </li>
        </ul>
      </span>
    </section>
  </div>
  <div class="lesson-container" >
    <app-lesson-card *ngFor="let i of createRange(5)" [id]="i"></app-lesson-card>
  </div>
</div>
