<div class="main-container" xmlns="http://www.w3.org/1999/html">
  <section class="score">
    <p>Your score: {{score}}</p>
  </section>

  <section class="elemets">
    <div class="twocolumns">
      <div (click)="checkAnswer('A')" class="rectangle"><p>A</p></div>
      <div (click)="checkAnswer('B')" class="rectangle"><p>B</p></div>
    </div>

    <div class="twocolumns">
      <div (click)="checkAnswer('C')" class="rectangle"><p>C</p></div>
      <div (click)="checkAnswer('D')" class="rectangle"><p>D</p></div>
    </div>
  </section>
  <section class="username">
    <p>Logged ins as {{username}}</p>
  </section>
</div>
