@import "src/styles";

.main {
  background-color: $leogreen-background;
}

.elemets {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}

.elemets.twocolumns {
  display: flex;

}

.elemets.twocolumns.rectangle {

  color: $leoGreen-button;
  width: 20vh;
  height: 20vh;
}
