<div class="main-container" xmlns="http://www.w3.org/1999/html">
  <section class="score">
    <p>Your score: {{score}}</p>
  </section>

  <section class="elements">
    <div class="twocolumns">
      <div (click)="checkAnswer('A')" class="rectangle"><img [src]="'assets/' + shapes[0] + '.svg'" [alt]="shapes[0]" class="shape"></div>
      <div (click)="checkAnswer('B')" class="rectangle"><img [src]="'assets/' + shapes[1] + '.svg'" [alt]="shapes[1]" class="shape"></div>
    </div>

    <div class="twocolumns">
      <div (click)="checkAnswer('C')" class="rectangle"><img [src]="'assets/' + shapes[2] + '.svg'" [alt]="shapes[2]" class="shape"></div>
      <div (click)="checkAnswer('D')" class="rectangle"><img [src]="'assets/' + shapes[3] + '.svg'" [alt]="shapes[3]" class="shape"></div>
    </div>
  </section>
  <section class="username">
    <p>Logged ins as {{username}}</p>
  </section>
</div>
