@import "src/styles";

p {
  font-size: 4vh;
  color: #fff;
}



.elements {
  margin-top: 20vh;

}

.score {
  text-align: right;
  margin-right: 5vw;

}

.score p {
  font-size: 2.5vh;
}

.twocolumns {
  justify-content: center;
  width: 100%;
  display: flex;

}

.rectangle {
  margin: 2vh;
  height: 15vh;
  width: 15vh;
  background-color: $leoGreen-button;
  padding: 2vh;

  border-radius: 2vh;
}

.rectangle img {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.username {

}
.username p{
  position: absolute;
  bottom: 1%;
  font-size: 2vh;
  text-align: left;
  margin-left: 1vh;
}
