#Maven
target/classes
target/failsafe-reports
target/generated-sources
target/jib
target/maven-archiver
target/maven-status
target/quarkus-app

target/!.leogreen_server-1.0-SNAPSHOT-runner
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.flattened-pom.xml

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env
