@import "src/styles";

h1{
  font-weight: bold;
  font-size: 4rem;
  padding-right: 10vw;
  line-height: 4.4rem;
  margin-top: 2rem;
}

h2{
  font-weight: lighter;
  font-size: 1.3rem;
}

.btn-join{
  margin-top: 2rem;
  width: 100%;
  height: 10vh;
  font-size: calc(1vw + 1.5rem);
}


