<div class="main-container container">
  <h1>Quiz beitreten</h1>
  <form [formGroup]="beitretenForm">
    <h2>Quiz Id:</h2>
    <mat-form-field appearance="outline" style="width: 100%">
      <input matInput formControlName="quizId">
      <mat-error *ngIf="beitretenForm.controls.quizId.invalid">
        No input or not a number
      </mat-error>
    </mat-form-field>
    <h2>Name:</h2>
    <mat-form-field appearance="outline" style="width: 100%">
      <input matInput formControlName="username">
      <mat-error *ngIf="beitretenForm.controls.username.invalid">
        no value
      </mat-error>
    </mat-form-field>

    <button class="btn-join" mat-raised-button color="primary" [disabled]="beitretenForm.invalid" [ngClass]="{'btn-disabled': beitretenForm.invalid}"  (click)="join()">Beitreten</button>
  </form>

</div>
