<div class="main-container">
  <div class="card">
    <h1>Statistik</h1>
    <div class="leaderboard" *ngIf="topUsers">
      <div class="placement second" *ngIf="topUsers[1]">
        <p>Platz 2</p>
        <p>{{topUsers[1].name}}</p>
        <p>Punkte: {{topUsers[1].points}}</p>
      </div>
      <div class="placement first" *ngIf="topUsers[0]">
        <p>Platz 1</p>
        <p>{{topUsers[0].name}}</p>
        <p>Punkte: {{topUsers[0].points}}</p>
      </div>
      <div class="placement third" *ngIf="topUsers[2]">
        <p>Platz 3</p>
        <p>{{topUsers[2].name}}</p>
        <p>Punkte: {{topUsers[2].points}}</p>
      </div>
    </div>
    <dx-polar-chart
      class="chart"
      id="chart"
      [useSpiderWeb]="true"
      [dataSource]="data"
      [valueAxis]="{allowDecimals: false, endOnTick: false, axisDivisionFactor: 20, showZero: true, visible: false, label: {visible: false}, wholeRange: [0, 1000]}"
      [legend]="{visible: false}"
      [commonAxisSettings]="{width: 3, tick: {visible: false}, grid: {width: 2, color: '#6F72C3'}, label: {
        font: {color: '#FFFFFF'}
      }}"
    >
      <dxo-argument-axis [grid]="{visible: false}">
        <dxo-label [font]="{size: 16, weight: 800}" [indentFromAxis]="15"></dxo-label>
      </dxo-argument-axis>
      <dxi-series valueField="avg" argumentField="tag" name="Average Score" type="area" hoverMode="none" color="#2A65E1"></dxi-series>
    </dx-polar-chart>
  </div>
</div>
