@import "src/styles";

.card {
  background: $leogreen-background-alternate;
  padding: 3rem;
  margin-top: 5rem;
  border-radius: 1rem;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;


  > h1 {
    font-weight: 800;
    font-size: 2.5rem;
    flex: 1 0 100%;
    text-align: center;
  }

  > .leaderboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    flex: 1 0 40%;

    > .placement {
      flex: 1 1 10%;
      margin: 1rem;
      border-radius: 1rem;
      padding: 1.5rem;
      font-size: 1.1rem;
      line-height: 1.2rem;
      font-weight: 600 !important;
      text-align: center;

      &.first {
        background: #FFD007;
        padding-bottom: 10rem;
      }

      &.second {
        background: #C0C0C0;
        padding-bottom: 5rem;
      }

      &.third {
        background: #BF8970;
      }
    }
  }

  > .chart {
    flex: 1 0 40%;
  }
}
