<div class="main" xmlns="http://www.w3.org/1999/html">
  <ng-container *ngIf="game">
    <ng-container *ngIf="game.state == -1; else Question">
      <header>
        <h1>Quiz Beitreten</h1>
        <div class="right">
          <h1 id="gamecode">Pin: {{game.id}} </h1>
          <qr-code [size]="qrCodeSize" *ngIf="qrCodeLink" [value]="qrCodeLink"></qr-code>
        </div>
      </header>
      <section class="start">
        <div>
          <div class="player-count">
            <h2>Spieler: {{game.users.length}}</h2>
          </div>
        </div>
        <h2>{{game.quiz.topic}}</h2>
        <div class="button-div">
          <button id="startbutton" mat-raised-button color="primary" (click)="startGame()">Starten</button>
        </div>
      </section>
      <section class="players">
        <div class="p-list">
          <div class="player" *ngFor="let player of game.users">
            <p class="p-name"> {{player.name}} </p>
          </div>
        </div>
      </section>
      <div class="footer">
        <mat-icon aria-hidden="false" aria-label="progress spinner" fontIcon="autorenew"></mat-icon>
        <p>Warten auf andere Spieler</p>
      </div>
      <section class="start">
      </section>
    </ng-container>
  </ng-container>


  <ng-template #Question>
    <app-quiz-host-question style="width: 100%"></app-quiz-host-question>
  </ng-template>
</div>
