.main {
  display: grid;
  grid-template-areas:
    "header side"
    "players side"
    "footer footer"
    "bottom bottom";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 5fr 1fr 1fr;
  max-height: 80vh;
  padding: 5vh 10vw;
}

header {
  grid-area: header;
}

.players {
  grid-area: players;
  overflow: hidden;
}

.p-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.p-list > .player {
  flex: 1 0 calc(33% - 1rem);
  padding-left: 1rem;
}
.p-name {
  font-size: 1.8rem;
}

.qr-code {
  grid-area: side;
}

.footer {
  grid-area: footer;
}

.start {
  display: flex;
  grid-area: bottom;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.start > button {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 5rem;
  border-radius: .75rem;
}
