<div class="main" xmlns="http://www.w3.org/1999/html">
  <ng-container *ngIf="game">
    <ng-container *ngIf="game.state == -1; else Question">
      <header>
        <h1 id="gamecode">Pin: {{game.id}} </h1>
      </header>
      <section class="players">
        <h2>Spieler: {{game.users.length}}</h2>
        <div class="p-list">
          <div class="player" *ngFor="let player of game.users">
            <p class="p-name"> {{player.name}} </p>
          </div>
        </div>
      </section>
      <section class="qr-code">
        <qr-code [size]="qrCodeSize" *ngIf="qrCodeLink" [value]="qrCodeLink"></qr-code>
      </section>
      <div class="footer">
        <p>Waiting for Players...</p>
      </div>
      <section class="start">
        <button id="startbutton" mat-raised-button color="primary" (click)="startGame()">Quiz starten</button>
      </section>
    </ng-container>
  </ng-container>


  <ng-template #Question>
    <app-quiz-host-question style="width: 100%"></app-quiz-host-question>
  </ng-template>
</div>
