@import "src/styles";

.main {
  position: relative;
  height: 70vh;
  padding: 5vh 10vw;
}

header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  h1 {
    font-weight: 800;
    font-size: 3rem;

    &#gamecode {
      font-size: 2rem;
    }
  }

  > .right {
    display: flex;
    flex-direction: row;
    align-items: center;

    > h1 {
      margin-right: 1rem;
    }
  }
}

.start {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 2rem;

  h2 {
    font-weight: 700;
    font-size: 2rem;
  }

  > * {
    width: 30vw;
  }

  .button-div {
    text-align: end;

    button {
      font-size: 1.2rem;
      font-weight: 600;
      padding: 0.3vh 0.5vw;
      border-radius: 0.9rem;
      background-color: $leogreen-button;
      color: $leogreen-color;
    }
  }

  .player-count {
    text-align: start;
  }
}

.players {
  margin-top: 2rem;
  max-height: 65vh;
  overflow: hidden;
}

.p-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.p-list > .player {
  flex: 1 0 calc(33% - 1rem);
}

.p-name {
  font-size: 1.8rem;
  line-height: 2rem;
}

.qr-code {
  grid-area: side;
}

.footer {
  grid-area: footer;
}

.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  > p {
    margin: 0 .5rem;
  }
  > mat-icon {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}
