.main {
  display: grid;
  grid-template-areas:
    "header side"
    "players side"
    "bottom bottom";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  max-height: 80vh;
  padding: 5vh 10vw;
}

header {
  grid-area: header;
}

.players {
  grid-area: players;
  overflow: hidden;
}

.p-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.p-list > .player {
  padding-left: 1rem;
}
.p-name {
  font-size: 1.8rem;
}
#startbutton{
  margin-top: 1rem;
}

.qr-code {
  grid-area: side;

}

.start {
  grid-area: bottom;
  position: fixed;
  bottom: 1rem;
  width: 100%;
  margin-left: 30vw;
  align-items: center;
  justify-content: center;
}

.start > button {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 5rem;
  border-radius: .75rem;
}
.footer {
}
