@import "src/styles";

.nav-container{
  height: $navbar-height;
  background-color: $leogreen-button;
  padding: 0 2rem;
  color: $leogreen-color;
  display: flex;
  align-self: center;

  .inside-nav-container{
    display: flex; align-items: baseline;margin: auto 0;
    * {
      margin-right: calc(2rem + 2vw)
    }
  }
  #leogreenLogo{
    height: $navbar-height * .7;
  }

  .right-aligned{
    margin-left: auto;
    align-self: center;
  }

  * {
    margin: 0;
  }

  .active{
    @extend .drop-shadow;

    background: linear-gradient(180deg, #33FF00 0%, #00E0FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
