@import "src/styles";

.nav-container {
  height: $navbar-height;
  background-color: $leogreen-background-accent;
  padding: 0 2rem;
  color: $leogreen-color-accent;
  font-weight: 600;
  display: flex;
  align-self: center;

  .inside-nav-container {
    display: flex;
    align-items: baseline;
    margin: auto 0;

    * {
      margin-right: calc(2rem + 2vw)
    }
  }

  #leogreenLogo {
    height: $navbar-height * .7;
  }

  .right-aligned {
    margin-left: auto;
    align-self: center;
  }

  * {
    margin: 0;
  }

  h1 {
    font-weight: 700;
  }

  .active {
    @extend .drop-shadow;

    -webkit-background-clip: text;
  }
}
