<app-landing-page [ngClass]="{'display-none': !HeaderLeogreen.className.includes('active')}"></app-landing-page>
<div class="nav-container">
  <div class="pointer inside-nav-container">
    <h1 routerLink="/home" #HeaderLeogreen class="pointer noselect" routerLinkActive="active">Leogreen Quizes</h1>
    <p routerLink="/quiz" class="pointer noselect hideIfSmall" routerLinkActive="active">Quizes</p>
    <p routerLink="/statistic" class="pointer noselect hideIfSmall" routerLinkActive="active">Statistics</p>
  </div>
  <img routerLink="/home" class="pointer" id="leogreenLogo" src="assets/leogreen_logo.svg">
</div>
