@import "src/styles";

.nav-container{
  height: $navbar-height;
  background-color: $leoGreen-button;
  padding: 0 2rem;
  color: $leogreen-color;
  display: flex;
  align-self: center;

  .inside-nav-container{
    display: flex; align-items: baseline;margin: auto 0;
  }
  #leogreenLogo{
    margin-left: auto;
    align-self: center;
    height: $navbar-height * .7;
  }

  * {
    margin: 0;
  }
}
