<app-landing-page [ngClass]="{'display-none': !headerLeoGreen.className.includes('active')}"></app-landing-page>
<div class="nav-container" id="nav-container">
  <div class="pointer inside-nav-container">
    <h1 routerLink="/home" #headerLeoGreen class="pointer noselect" routerLinkActive="active">LeoGreen Quizzes</h1>
    <p routerLink="/statistic" class="pointer noselect hideIfSmall" routerLinkActive="active">Statistics</p>
    <p routerLink="/quiz/client" class="pointer noselect hideIfSmall" routerLinkActive="active">Join Quiz</p>
  </div>
  <img routerLink="/home" class="pointer hideIfSmall right-aligned" id="leogreenLogo" src="assets/leogreen_logo.svg">
  <button class="showIfBig right-aligned" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item routerLink="/statistic">
      <mat-icon>poll</mat-icon>
      <span>Statistik</span>
    </button>
    <button mat-menu-item routerLink="/quiz/client">
      <mat-icon>add</mat-icon>
      <span>Join Quiz</span>
    </button>
  </mat-menu>
</div>
