@import "../../../../styles";

p {
  font-size: 4vh;
  color: #fff;
}

h1 {
  text-align: center;
  margin-top: 2rem;
}

.elements {
  margin-top: 20vh;

}

.score {
  text-align: center;
  margin-top: 2rem;
}

.score p {
  font-size: 2.5vh;
}

.twocolumns {
  justify-content: center;
  width: 100%;
  display: flex;
}

.rectangle {
  margin: 2vh;
  height: 15vh;
  width: 15vh;
  background-color: $leogreen-button;
  padding: 2vh;
  justify-content: center;
  flex-direction: row;
  border-radius: 2vh;
}

.rectangle img {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.username {
  position: absolute;
  bottom: 1%;
  left: 0;
  right: 0;
}

.username p {
  font-size: 1.2rem;
  line-height: 1.32rem;
  text-align: center;
}
.result {
  padding: 0 5vw;
}

.result h1 {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: bold;
}

.result h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
}
