<div class="main-container container">
  <div class="row">
    <h1 class="col col-25">Info {{id}}</h1>
    <p class="col col-75 text">{{summary}}</p>
  </div>
  <div class="row">
    <div class="col col-80 col-img">
      <img  class="vertical" src="{{images[0].name}}" alt="{{images[0].altText}}">
    </div>
    <div class="col col-20 col-img">
      <img class="horizontal" src="{{images[0].name}}" alt="{{images[0].altText}}">
    </div>
  </div>
  <div class="row">
    <div class="col col-20 col-img">
      <img class="horizontal" src="{{images[0].name}}" alt="{{images[0].altText}}">
    </div>
    <div class="col col-80 text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
      et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
      sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
      erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
      sea takimata sanctus est Lorem ipsum dolor sit amet.
    </div>
  </div>
</div>
<app-quiz></app-quiz>
