.main-container{
  height: auto;
  margin-top: 5vh;
}

h1 {
  font-size: 2rem;
  line-height: normal;
  font-weight: bold;
  margin: 1vh 0;
}

.text {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

img {
  border-radius: 1.5rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4vh;

  &.header-row {
    align-items: flex-end;
    margin-bottom: 5vh;
    > * {
      line-height: 2.5rem;
      margin-bottom: 0;
    }
  }

  > .col {
    flex: 1 0 auto;
    height: 100%;
    $mr: 2vw;
    margin-right: $mr;

    &.col-img {
      height: 40vh;
    }

    &.col-25 {
      flex-basis: calc(25% - $mr);
    }

    &.col-40 {
      flex-basis: calc(40% - $mr);
    }


    &.col-60 {
      flex-basis: calc(60% - $mr);
    }

    &.col-75 {
      flex-basis: calc(75% - $mr);
    }

    &.col-50 {
      flex-basis: calc(50% - $mr);
    }

    &.col-20 {
      flex-basis: calc(20% - $mr);
    }

    &.col-80 {
      flex-basis: calc(80% - $mr);
    }

    &.col-100 {
       flex-basis: calc(100% - $mr);
     }
  }

}
