@import "src/styles";

:host {
  width: 100%;
}

.question {
  width: 65vw;
  grid-template-columns: 100% 25%;
}

.text {
  grid-area: text;
}

.answers {
  grid-area: answers;
}
.qheader{
  height: 35vh;
}
.btnsection{
  width: 90vw;
  height: 10vh;
  margin-bottom: -15vh;
  margin-top: 7vh;
}
.next-button {
  margin-left: 75vw;
  display: block;
  padding: 0.3vh 0.5vw;
  border-radius: 0.9rem;
  background-color: $leogreen-button !important;
  color: $leogreen-color !important;
  position: fixed;
  font-size: 1.2rem;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.answer {
  flex: 1 0 25%;
  border-radius: 0.7vh;
  padding: 7vh 2vw;
  margin: 3vh 4vw;
  background: $leogreen-button;
  display: flex;
  align-items: center;
  position: relative;

  > .text {
    display: inline-block;
    font-size: 1.9vw;
    min-font-size: 1.6rem;
    font-weight: bold;
    position: absolute;right: 15%;
    max-width: 80%;
  }

  > .shape {
    width: 10vw;
    display: inline-block;
    height: 5rem;
    position: absolute;
    left: 0;
  }
}
h1{
  font-size: 2.7vw;
}
h2{
  font-size: 3.2vw;
}
